/* CSS declarations go here */

@font-face {
    font-family: apletter;
    src: url("/fonts/letter-regular-webfont.woff") format('woff');
}

html {
    font-family: apletter, helvetica, Trebuchet, sans-serif;
  }
